@import "tailwindcss";

@theme {
    --color-primary: #0f172a;
    --color-secondary: #f8f4ef;
    --color-accent: #b8860b;
    --color-dark: #08060d;
    --font-serif: "Playfair Display", serif;
    --font-sans: "Montserrat", sans-serif;
}

@layer base {
    :root {
        background-color: #f9fafb;
        color: #1f2937;
    }

    html {
        scroll-behavior: smooth;
    }
}

.leaflet-popup-content-wrapper {
    background: white !important;
    color: #1a2e1a !important;
    border-radius: 20px !important;
    padding: 6px !important;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.05), 0 8px 10px -6px rgba(0, 0, 0, 0.05) !important;
    border: 1px solid rgba(0, 0, 0, 0.03) !important;
}

.leaflet-popup-tip {
    background: white !important;
    box-shadow: none !important;
}

.leaflet-container {
    font-family: inherit !important;
}

.custom-leaflet-icon {
    background: transparent !important;
    border: none !important;
}